@import "variables";



.header--back {
  background-color: $darkGrey;
  height: 120px;
  width: 100%;
  display: none;
}

.contact {
  
  font-family: 'open sans', sans-serif;
  background-color: $fade;
  padding: 50px;
  border-radius: 5px;

  & p {
    margin: 10px 0px;
  }

  & input {
    width: 100%;
  }

  & button {

    margin-top: 20px;
    font-size: 25px;
    border: white 3px solid;
    background-color: $lightGrey;
    padding: 10px;
  }

  &__bar {
    &__label {
      margin: 5px;
    }
  }
}

#message{
  height: 50px;
}
/*tablet*/
@media screen and (min-width: 560px) {
  .contact {
    margin: 50px auto 50px auto;
    max-width: 800px;

    & input {
      width: 255px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header--back {
    display: block;
  }
}

