@import "variables";

.footer {
  background-color: $darkGrey;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  &__section {
    width: 110px;
    margin-bottom: 10px;
    &--credit{
      width: 160px;
    }

    &--logo{
      width: 150px;
    }
  }

  &__title {
    color: white;
  }

  &__text {
    color: $lightGrey;
  }
}
