@import "variables";

//banner

.md__card {
  display: none;
}

.banner{
  width: 100%;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

//lookbook and newsletter

.news {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 80px 100px 0px 100px !important;

  &-item {
    background-color: black;
    width: 30%;
    height: 320px;
    align-content: center;

    &__text {
      font-size: 30px;
      border: white 1px solid;
      margin: auto;
      font-weight: 700;
      color: white;
      margin-top: 100px;

      & p {
        font-size: 40px;
        font-weight: 400;
      }
    }

    &--men {
      align-content: flex-end;
      padding: 20px;
      
    }

    &--women {
      align-content: flex-start;
      padding: 20px;
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat
    }
  }

  &-letter {
    align-items: center;
    background-color: $highlight;
    width: 350px;
    border: $lightGrey solid 1px;
    box-shadow: 2px;
    padding: 10px;

    &__icon {
      background-color: $primary-color;
      width: 60px;
      height: 60px;
      color: white;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      margin: auto;

      & span {
        display: inline-block;
        margin: 8px 0px 0 0;
        padding: 5px 10px;
        font-size: 32px;
      }
    }

    &__title {
      font-size: 29px;
      color: $darkGrey;
      margin: 20px 0px;
    }

    &__text {
      font-size: 18px;
      color: $lightGrey;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $darkGrey;
    font-family: open sans, sans-serif;
    font-size: 18px;
  }
  //newsletter form
  &-form {

    &__email {
      text-align: center;
      width: 100%;
      border-width: 0px;
      border-bottom: 2px $darkGrey solid;
      margin: 20px 0px;
      height: 26px;
    }

    &__button {
      color: $darkGrey;
      width: 100%;
      border: 2px $darkGrey solid;
      background-color: white;
      font-size: 18px;
      padding: 10px;

      & :hover {
        background-color: $highlight;
      }
    }
  }
}

//brands

.brand {
  background-color: $backLight;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  &__title {
    font-size: 20px;
    font-weight: 700;
    color: $darkGrey;
  }

  &__icons {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
  }

  &-icon {
  }
}

.content{

  &__box{

  }
}

//second banner

.banner2{
  display: block;
  width: 100%;
}

.about {
  background-color: $primary-color;
  text-align: center;
  color: white;
  padding: 60px 200px;

  &__img {
  }

  &__name {
    font-size: 20px;
    font-weight: 400;
  }

  &__text {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    line-height: 25px;
    margin-top: 15px;
  }
}

//tabs for showcase

.tabs-component {
  margin-top: 40px;

  &-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  & a {
    text-decoration: none;
    color: $darkGrey;
  }

  &-tab {
    margin: 5px;
    border: white 2px solid;
    padding: 5px;
    &.is-active {
      border-bottom: black 2px solid;
    }
  }

  &-panels {
  }

  &-panel {
  }
}

.social {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  height: 200px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: $darkGrey;
  }

  &__nav {
    display: flex;
    justify-content:space-around;
    margin-top: 35px;
    padding: 0px 18%;
    &-icon {
      margin: auto 0px;
      font-size: 25px;
      color: $lightGrey;
    }
  }
}

.circle-social{
  border: 1px $lightGrey solid;
  border-radius: 50%;
  padding: 15px;
  width: 55px;
  height: 55px;
}

/* Showcase */

.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 20px;
  &-item {
    margin: 10px 12px;

    &__img {
    }

    &__title {
    }

    &__button {
    }
  }
}

  /*Big Phones*/
@media screen and (min-width: 568px) {

}

  /* Tablet */
  @media screen and (min-width: 768px) {
    .md__card {
      display: block;
    }
    .banner {
      display: block;
      height: 430px;
    }
  }
  /*Smalle PC*/
@media screen and (min-width: 1000px) {
  .banner {
    height: 530px;
  }
  }

  /* Pc */
  @media screen and (min-width: 1200px) {
    .banner {
      height: 550px;
      background-size: cover;
    }
  }

  /* HD */
  @media screen and (min-width: 1920px) {
  }
